body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #111;
}


h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #007bff;
    color: #fff;
}

table thead th {
    padding: 10px;
    font-size: 14px;
    text-align: left;
    border: 1px solid #ddd;
}

table tbody tr {
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody td {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

table tbody td a {
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button {
    padding: 10px 20px;
    background: linear-gradient(#fff);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}
button:hover {
    background: linear-gradient(135deg, #ffffff, rgba(32, 31, 31, 0.9));
    transform: scale(1.05);
}


